@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Womyads.Models.EnvMail

@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true) 
    <fieldset style="width:200px"> 
        <legend>Contactenos</legend> 
        <div class="editor-label"> 
            @Html.LabelFor(model => model.Asunto) 
        </div> 
        <div class="editor-field"> 
            @Html.TextBoxFor(model => model.Asunto) 
            @Html.ValidationMessageFor(model => model.Asunto) 
        </div> 
        <div class="editor-label"> 
            @Html.LabelFor(model => model.Mensaje) 
        </div> 
        <div class="editor-field"> 
            @Html.TextAreaFor(model => model.Mensaje) 
            @Html.ValidationMessageFor(model => model.Mensaje) 

        </div> 
        <p> 
            <input type="submit" value="Enviar" /> 
        </p> 
    </fieldset> 
 

}